body {background-color:rgb(255,255,255); margin:0; padding:0; color:rgb(51,51,51); font-family:Arial, Helvetica, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS PGothic', sans-serif; -webkit-text-size-adjust:100%;}

a {outline:none}
a:link {text-decoration:none; color:rgb(51,91,214); font-style:normal;}
a:visited {text-decoration:none; color:rgb(51,91,214); font-style:normal;}
a:active {text-decoration:none; color:rgb(51,91,214); font-style:normal;}
a:hover {color:rgb(255,0,0); font-style:normal;}

img {border:none; vertical-align:text-bottom}

/* ___ header100ue _____ */
div.header100ue {width:100%; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding:0px; height:71px; background-color:rgb(142,167,251)}
/*-- 2Dan Ue --*/
div.menu1 {width:980px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding:0px; height:35px; background-color:rgb(142,167,251)}
div.menu1 ul {margin:0px; padding:0px; font-size:16px; line-height:31px; height:31px; background-color:rgb(142,167,251)}
div.menu1 ul li {list-style-type:none; float:left; line-height:31px; height:31px}
div.menu1 ul li a {display:block; padding:4px 9px 0px 9px; color:rgb(255,255,255); text-align:center; font-weight:normal}
div.menu1 ul li a.logo {padding:0px}
div.menu1 ul li a.here {background-color:rgb(142,167,251); color:rgb(255,245,50); font-weight:normal}
div.menu1 ul li a:hover {background-color:rgb(255,255,153); color:rgb(46,46,152); font-weight:normal}
div.menu1 ul li a.logo:hover {background-color:rgb(142,167,251)}
img.logo {border:none; margin:4px 0px 0px 5px; vertical-align:text-bottom}
/*-- 2Dan Shita --*/
div.menu2 {width:980px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding:0px; height:35px; background-color:rgb(142,167,251)}
div.menu2 ul {margin:0px; padding:0px 0px 0px 40px; font-size:16px; line-height:35px; height:35px; background-color:rgb(142,167,251); border-top:solid 1px rgb(190,190,190)}
div.menu2 ul li {list-style-type:none; float:left; line-height:35px; height:35px}
div.menu2 ul li a {display:block; padding:0px 10px 0px 10px; color:rgb(255,255,255); text-align:center; font-weight:normal}
div.menu2 ul li a.here {background-color:rgb(142,167,251); color:rgb(255,245,50); font-weight:normal}
div.menu2 ul li a:hover {background-color:rgb(255,255,153); color:rgb(46,46,152); font-weight:normal}

/* ___ header100obi _____ */
div.header100obi {width:100%; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding:0px; text-align:center; height:40px; background-image:url("parts5/bar105_gurade.png"); background-repeat:repeat-x; background-position:0px 0px}
table.headerobi {width:980px; border:none; border-collapse:collapse; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding:0px}
table.headerobi td.headerobileft {width:680px; height:40px; padding:0px; text-align:left; vertical-align:middle}
table.headerobi td.headerobiright {width:300px; height:40px; padding:0px; text-align:center; vertical-align:top}
table.headerobi {clear:both}
img.menu {border:none; margin:0px}
h1 {margin:0px 0px 0px 50px; padding:0px; font-size:18px; line-height:40px; vertical-align:middle; font-weight:normal; color:rgb(46,46,152)}

/* ___ body980 ____ */
div.body980 {width:980px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px; padding:0px; text-align:left; vertical-align:top}

/* _____ content ___________ */
div.content {margin-left:80px; margin-right:auto; margin-top:0; margin-bottom:0}

/* _____ PDF ___________ */
p.pdf {margin-left:580px; margin-right:auto; margin-top:20px; margin-bottom:0px; text-align:left; font-size:15px; line-height:18px; color:rgb(46,46,152); font-weight:normal}
p.pdf2 {margin-left:580px; margin-right:auto; margin-top:8px; margin-bottom:0px; text-align:left; font-size:15px; line-height:18px; color:rgb(46,46,152); font-weight:normal}
p.pdfjpk {margin-left:580px; margin-right:auto; margin-top:20px; margin-bottom:0px; text-align:left; font-size:14px; line-height:18px; color:rgb(46,46,152); font-weight:normal; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
p.pdf2jpk {margin-left:580px; margin-right:auto; margin-top:8px; margin-bottom:0px; text-align:left; font-size:14px; line-height:18px; color:rgb(46,46,152); font-weight:normal; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
img.pdf {border:none; vertical-align:middle}

p.capjpr {margin-left:15px; margin-right:auto; margin-top:10px; margin-bottom:0; width:580px; font-size:15px; line-height:22px}
p.capjpk {margin-left:15px; margin-right:auto; margin-top:10px; margin-bottom:0; width:580px; font-size:15px; line-height:24px}

h2 {margin-left:0px; margin-right:auto; margin-top:0px; margin-bottom:0; width:780px; font-size:18px; line-height:24px; color:rgb(46,46,152); font-weight:normal; 
	border-left:solid 6px rgb(46,46,152); padding-left:5px; border-bottom:solid 2px rgb(46,46,152); padding-bottom:2px}
h3 {margin-left:0px; margin-right:auto; margin-top:45px; margin-bottom:0; width:780px; font-size:18px; line-height:24px; color:rgb(46,46,152); font-weight:normal; 
	border-left:solid 6px rgb(46,46,152); padding-left:5px; border-bottom:solid 2px rgb(46,46,152); padding-bottom:2px}

/* ____ KanaTable _________ */
p.koomoku {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:10px; margin-top:20px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}
p.koomokujpk {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:10px; margin-top:20px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}

p.koomoku2 {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:14px; margin-top:20px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}
p.koomoku2jpk {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:14px; margin-top:20px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}

p.koomokuyoon {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:10px; margin-top:20px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}
p.koomokuyoonjpk {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:10px; margin-top:20px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}

p.koomokunew {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:12px; margin-top:30px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}
p.koomokunewjpk {background-image:url("parts/maru-yellow-small.gif"); background-repeat:no-repeat; background-position:0 4px;
	margin-left:12px; margin-top:30px; margin-bottom:0; padding-left:15px; font-size:16px; color:rgb(46,46,152); font-weight:normal}

p.capjprsp {margin-left:10px; margin-right:auto; margin-top:15px; margin-bottom:0; width:550px; font-size:15px; line-height:22px; 
	background-image:url("parts/btn_speaker22.gif"); background-repeat:no-repeat; background-position:0 2px; padding-left:27px}
p.capjpksp {margin-left:10px; margin-right:auto; margin-top:15px; margin-bottom:0; width:550px; font-size:15px; line-height:22px; 
	background-image:url("parts/btn_speaker22.gif"); background-repeat:no-repeat; background-position:0 2px; padding-left:27px}

p.capjprnew {margin-left:28px; margin-right:auto; margin-top:6px; margin-bottom:0; width:580px; font-size:15px; line-height:22px}
p.capjpknew {margin-left:28px; margin-right:auto; margin-top:6px; margin-bottom:0; width:650px; font-size:15px; line-height:24px}

table.kana2dan {border:none; border-collapse:collapse; margin-left:0px; margin-top:0px}
table.kana2dan td.dan2left {padding:0px; text-align:left; vertical-align:top}
table.kana2dan td.dan2right {padding:0px; text-align:left; vertical-align:top}

table.kanatable {border:none; border-collapse:collapse; margin:10px 0px 0px 7px}
table.kanatableright1 {border:none; border-collapse:collapse; margin:13px 0px 0px 10px}
table.kanatableright2 {border:none; border-collapse:collapse; margin:10px 0px 0px 10px}
td.ausp {border:none; width:30px; height:36px; vertical-align:middle; padding:0px; font-size:26px; line-height:30px; text-align:left}
td.seion {border:solid 2px rgb(195,195,195); width:70px; height:36px; vertical-align:middle; padding:0px; font-size:26px; line-height:30px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.dakuon {border:solid 2px rgb(195,195,195); width:65px; height:36px; vertical-align:middle; padding:0px; font-size:26px; line-height:30px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.yoon {border:solid 2px rgb(195,195,195); width:70px; height:36px; vertical-align:middle; padding:0px; font-size:26px; line-height:30px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.yoodakuon {border:solid 2px rgb(195,195,195); width:65px; height:36px; vertical-align:middle; padding:0px; font-size:26px; line-height:30px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.romaji {border:solid 2px rgb(195,195,195); height:22px; vertical-align:middle; padding:0px; font-size:14px; line-height:18px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:Arial, Helvetica}
td.romasp {border:none; width:35px; height:22px; vertical-align:middle; padding:0px; font-size:14px; line-height:18px; text-align:center}

td.tenten0 {border:none; height:60px; text-align:left; vertical-align:middle; padding:0px 0px 0px 35px}
td.dakuon0 {border:none; width:65px; height:40px; text-align:center; vertical-align:middle; padding:0px; font-size:26px; font-weight:normal; color:rgb(46,46,152); font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.yoodakuon0 {border:none; width:65px; height:40px; text-align:center; vertical-align:middle; padding:0px; font-size:26px; line-height:22px; font-weight:normal; color:rgb(46,46,152); font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.romaji0 {border:none; height:20px; vertical-align:middle; padding:0px; font-size:14px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:Arial, Helvetica}

table.kananewtable {border:none; border-collapse:collapse; margin-left:16px; margin-top:14px; margin-bottom:0px}
td.kananewtd {text-align:left; vertical-align:top}
table.kanatable2 {border:none; border-collapse:collapse; margin-left:10px}
table.kanatable2 td {border:none; border:solid 2px rgb(195,195,195)}
td.kananew {width:60px; padding:5px 0px 5px 0px; font-size:20px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}
td.romajinew {width:40px; padding:5px 0px 5px 0px; font-size:14px; font-weight:normal; color:rgb(46,46,152); text-align:center; font-family:Arial, Helvetica}
td.reigai {padding:5px 5px 5px 5px; font-size:14px; font-weight:normal; color:rgb(51,51,51); text-align:left}
p.kananewcap {margin-left:12px; margin-right:auto; margin-top:5px; margin-bottom:0; width:320px; font-size:13px; line-height:19px; font-family:Arial, Helvetica}

span.fxbk {font-size:13px; font-weight:normal; color:rgb(61,61,61); font-family:Arial, Helvetica}
span.wo {font-size:13px; font-weight:normal}
span.ao {font-weight:normal; color:rgb(20,80,204)}
span.jpr {font-weight:normal; color:rgb(46,46,152); font-family:Arial, Helvetica}
span.jpk {font-weight:normal; color:rgb(46,46,152); font-family:'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif}

p.backshita {margin-left:auto; margin-right:auto; margin-top:50px; margin-bottom:0px; text-align:center}

/* ___________ CC Info Copy XML ________________ */
div#ccinfo {clear:both; margin-left:auto; margin-right:auto; margin-top:20px; padding-bottom:40px; width:740px; text-align:center; border-top:solid 1px rgb(195,195,195)}
table#infocopy {border:none; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px}
table#infocopy td {padding:0 4px 0 4px; text-align:center; color:rgb(100,100,100); font-size:12px; border:none}
table#infocopy td a {text-decoration:none; color:rgb(100,100,100)}
table#infocopy td a:hover {text-decoration:none; color:rgb(255,0,0)}
p.footermail {margin-left:auto; margin-right:auto; margin-top:2px; margin-bottom:0px; text-align:center}
